---
layout: layout.njk
---

<article>
<div class="text-center mx-auto lg:max-w-screen-md md:max-w-screen-sm max-w-screen-sm rounded-s grid grid-cols-1 px-11 py-7 bg-tlorp place-items-center shadow-lg drop-shadow-xl shadow-black">
  <div class="container">
    <div>
      <p class="italic text-center opacity-50">{{ date | fulldate }}</span>
      <h1>{{ name }}</h1>
    </div>
    <br>
    {% if previous %}
      <a href="{{ previous }}">
        <h1>←</h1>
      </a>
    {% endif %}
    {% if next %}
      <a href="{{ next }}">
        <div class="flex-container-column centered">
          <img class="rounded-none" width="auto" height="auto" src="{{ path }}" alt="{{ name }}"/>
        </div>
      </a>
    {% else %}
      <div class="flex-container-column centered">
        <img class="img-fluid" src="{{ path }}" alt="{{ name }}"/>
      </div>
    {% endif %}
      <p>{{ content | safe }}</p>
    {% if next %}
      <a href="{{ next }}">
        <h1>→</h1>
      </a>
      <br>
      <hr>
      <br>
    {% endif %}
  </div>
  <section id="gallerypage">
    <div class="columns-2 flex-auto h-auto">
      {% for pic in collections.gallery | reverse %}
          <p class="opacity-30 italic text-center">{{ pic.date | date }}:</p>
          <span >{{ pic.data.name }}</span>
          <br><br>
          <a href="{{ pic.url }}">
            <div class="h-80">
              <img class="rounded-md shadow-lg shadow-blorp" src="{{ pic.data.path }}" alt="{{ pic.data.name }}" />
            </div>
          </a>
          <br>
          <hr>
          <br>
      {% endfor %}
    </div>
  </section>
</div>
</article>