---
layout: layout.njk
title: Home
tags: nav

---

<section id="about">
  <div class="text-center mt-5 mx-auto lg:max-w-screen-md md:max-w-screen-sm max-w-screen-sm rounded-s grid grid-cols-1 ~px-5/11 py-7 bg-tlorp place-items-center shadow-lg drop-shadow-xl shadow-black">
    <h1 class="pb-5">About</h1>
    <p class="text-justify">
      My name is Josh. I like to make things and learn stuff.
    </p>
  </div>
</section>

<section id="projects">
  <div class="text-center mx-auto lg:max-w-screen-md md:max-w-screen-sm max-w-screen-sm rounded-s grid grid-cols-1 ~px-5/11 py-7 bg-tlorp place-items-center shadow-lg drop-shadow-xl shadow-black">
    <h1 class="pb-5">Projects</h1>
    {% for post in collections.proj %}
    <p class="opacity-30 italic text-center">
      {{ post.data.date | fulldate }}:
    </p>
    <a href="{{ post.url }}" class="~mb-1/5">{{ post.data.title }}</a>
    {% endfor %}
  </div>
</section>

{# <section id="library">
  <div class="text-center mx-auto lg:max-w-screen-md md:max-w-screen-sm max-w-screen-sm rounded-s grid grid-cols-1 ~px-5/11 py-7 bg-tlorp place-items-center shadow-lg drop-shadow-xl shadow-black">
    <h1 class="pb-5">Library</h1>
    {% for post in collections.lib %}
    <p class="opacity-30 italic text-center">
      last updated: {{ post.data.date | fulldate }}
    </p>
    <a href="{{ post.url }}" class="~mb-1/5">{{ post.data.title }}</a>
    {% endfor %}
  </div>
</section> #}

<section id="gallery">
  <div class="text-center mx-auto lg:max-w-screen-md md:max-w-screen-sm max-w-screen-sm rounded-s grid grid-cols-1 ~px-5/11 py-7 bg-tlorp place-items-center shadow-lg drop-shadow-xl shadow-black">
    {% set atPost = 0 %}
    {% for pic in collections.gallery | reverse %}
      {% if atPost < 1 %}
        <a href="{{ pic.url }}#gallerypage"><h1 class="pb-5">Gallery</h1></a>
      {% endif %}
      {% set atPost = atPost + 1 %}
    {% endfor %}
    <div class="pb-5 columns-2 flex-auto">
      {% set atPost = 0 %}
      {% for pic in collections.gallery | reverse %}
        {% if atPost < 4 %}
          <p class="opacity-30 italic text-center">{{ pic.date | date }}:</p>
          <span>{{ pic.data.name }}</span>
          <a href="{{ pic.url }}">
            <img
              class="mb-5 ~h-52/80 object-fit rounded-md"
              src="{{ pic.data.path }}"
              alt="{{ pic.data.name }}"
            />
          </a>
        {% endif %}
        {% set atPost = atPost + 1 %}
      {% endfor %}
    </div>
    {% set atPost = 0 %}
    {% for pic in collections.gallery | reverse %}
      {% if atPost < 1 %}
        <a href="{{ pic.url }}#gallerypage"><h3 class="">View more...</h1></a>
      {% endif %}
      {% set atPost = atPost + 1 %}
    {% endfor %}
  </div>
</section>

<section id="sketch">
  <div class="text-center mx-auto lg:max-w-screen-md md:max-w-screen-sm max-w-screen-sm rounded-s grid grid-cols-1 ~px-5/11 py-7 bg-tlorp place-items-center shadow-lg drop-shadow-xl shadow-black">
    {% set atPost = 0 %}
    {% for pic in collections.sketch | reverse %}
      {% if atPost < 1 %}
        <a href="{{ pic.url }}#sketchpage"><h1 class="pb-5">Sketchbook</h1></a>
      {% endif %}
      {% set atPost = atPost + 1 %}
    {% endfor %}
    <div class="pb-5 columns-2 flex-auto">
      {% set atPost = 0 %}
      {% for pic in collections.sketch | reverse %}
        {% if atPost < 4 %}
          <p class="opacity-30 italic text-center">{{ pic.date | date }}:</p>
          <span>{{ pic.data.name }}</span>
          <a href="{{ pic.url }}">
            <img
              class="mb-5 ~h-52/80 object-fit rounded-md"
              src="{{ pic.data.path }}"
              alt="{{ pic.data.name }}"
            />
          </a>
        {% endif %}
        {% set atPost = atPost + 1 %}
      {% endfor %}
    </div>
    {% set atPost = 0 %}
    {% for pic in collections.sketch | reverse %}
      {% if atPost < 1 %}
        <a href="{{ pic.url }}#sketchpage"><h3 class="">View more...</h1></a>
      {% endif %}
      {% set atPost = atPost + 1 %}
    {% endfor %}
  </div>
</section>
